<mat-card>
    <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name= "search">
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select>
              <option value="BANANA">
                BANANA
              </option>
            </mat-select>
          </mat-form-field>
</mat-card>

<div class="content">
   
    <mat-card class="card-container" *ngFor="let data of list let i=index">
      <div>
        <img src={{data.images[0]}} class="header-image"/>
      </div>
      <mat-card-header>
        <mat-card-title>{{data.title | uppercase}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-container-left">{{data.description}} </p>
      </mat-card-content> 
    </mat-card> 
  </div>